name: tests-payments

on: [pull_request]  


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
        echo ${{ secrets.STRIPE_KEY }}
        echo STRIPE_KEY=${{ secrets.STRIPE_KEY }} > .env.local
        cd payments && npm install && npm run test:ci
